SECRET_KEY=
DEBUG=False
ALLOWED_HOSTS=midominio.com,localhost
CSRF_TRUSTED_ORIGINS=https://midominio.com
USE_X_FORWARDED_PROTO=True
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
# Ruta de la base SQLite (en Docker: /app/data/db.sqlite3, dentro del volumen)
DB_PATH=/app/data/db.sqlite3
